* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header{
    background-image: url("../imagenes/design1_image1.jpg");
    background-position: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -158px;
    height: 500px;
}

header img{
    border-color: #000;
    border-style: solid;
}

header h2{
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: 61px;
}

header h1{
    height: 450px;
    font-size: 4em;
}