* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header{
    background-image: url("../imagenes/design2_image1.jpg");
    background-position: center;
    background-position-y: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -158px;
    height: 500px;
    position: relative;
    top: 92px;
}

header img{
    border-color: #000;
    border-style: solid;
    margin-left: 56px;
    margin-top: 419px;
    background-color: #fff;
    width: 154px;
}

header h2{
    background-color: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    margin-top: 12px;
    position: relative;
    top: 75%;
    border:solid #000
}

header h1{
    font-size: 4em;
    position: relative;
    top: -90px;
    font-family: cursive;
}

nav div{
    position: absolute;
    left: 1442px;
    top: 75px;
}

nav div a{
    padding: 6px 15px;
    background-color: dodgerblue;
    border: solid 2px black;
    text-decoration: none;
    margin: 0 7px;
    color: #fff;
    font-family: cursive;
}

nav div a:hover {
    background-color: darkcyan;
}

nav div .select{
    background-color: darkcyan;
} 

main{
    display: inline-block;
    float: left;
    position: absolute;
    left: 543px;
    top: 598px;
}

main article{
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: cursive;
}

main img{
    position: absolute;
    left: 557px;
    top: 275px;
    filter: drop-shadow;
    border-radius: 18px 106px 112px;
}

main.about img{
    position: static;
}

main .contact{
    font-size: 24px;
    margin-top: 67px;
    font-family: cursive;
}

main .contact img{
    position: absolute;
    left: 557px;
    top: -211px;
    border-radius: 18px 106px 112px;
    }